dlib==19.19.0
Flask==1.1.2
Flask-Compress==1.4.0
graphviz==0.13.2
imageio==2.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.1.2
numpy==1.18.4
numpydoc==0.8.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.1
setuptools-scm==3.5.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow-addons==0.8.0.dev0
tensorflow-datasets==2.0.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.4.0
tensorflow-metadata==0.21.1
tensorflow-serving-api==2.1.0
tensorflow-serving-api-gpu==2.1.0
opencv-python