<p style="text-align: center;">Title Screen</p>
<style>
body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.2/build/pure-min.css">
<script language="javascript">

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<ul>
   <li><a class="active" href="#home">Home</a></li>
   <li><a href="/add_student">Add Student</a></li>
   <li><a href="/view_student">View Students</a></li>
 </ul>
 <div style="margin-left:600;text-align:center">
    <div style="display: flex;flex-direction: row;">
       <p><img src="{{ url_for('video_feed') }}" class="pure-img" style="margin-left: auto; margin-right: 30;" alt="Video" width="400"
             height="400" /></p>
       <div margin: 0 25px;>
          <form method="POST" action="/submit_details">
          <table class="pure-table pure-table-bordered" style="border-color: black; width: 282px; height: 117px; margin-top: 100; margin-left: auto; margin-right: 50;"
             border = 1 cellspacing="1" cellpadding="1">
             <tbody>
                <tr>
                   <td style="width: 99px;">Name</td>
                   <td style="width: 175px;" ><input id="Name"/></td>
                </tr>
                <tr>
 
                   <td style="width: 99px;">Registration Number</td>
                   <td style="width: 175px;" ><input id="reg_no"/></td>
                </tr>
                <tr>
                   <td style="width: 99px;">School</td>
                   <td style="width: 175px;" > <input id="scl"/></td>
                </tr>
                <tr>
                   <td style="width: 99px;">Mobile Number</td>
                   <td style="width: 175px;" > <input id="mb"/></td>
                </tr>
                <tr>
                   <td style="width: 99px;">Block</td>
                   <td style="width: 175px;"><input id="block"/> </td>
                </tr>
             </tbody>
          </table>
          <input type="submit">
         </form>
         <input type="button" onclick="window.location='/display';" value="Cancel">
         </div>
    </div>
 </div>